.middle_a{
    width: 100%;
    /* height: 1445px; */
    background: #F4F7FF;
}
.middle{
    /* height: 1445px; */
    width: 1000px;
    margin: auto;
}
.navigator{

    width: 100%;
    height:15px;
font-size:13px;
font-weight:400;
color:rgba(3,18,54,1);
    padding-top: 30px;
}
.navigator p{
 float: left;
}
.sy{
    font-size:13px;
font-weight:400;
color:rgba(3,18,54,1);
}
.product{
    margin-top: 45px;
    /* height: 855px; */
    width: 1000px;
    background: #fff;
    overflow: hidden;

}
.explain{
    position: relative;
    color:rgba(0,21,65,1);
    font-weight:400;
    margin-left: 40px;
    padding-top: 40px;
    height: 360px;
}
.explain .tupian{
    width: 360px;
    height: 290px;
}
.tupian_a{
    overflow: hidden;
    position: relative;
     width: 950px;
    height: 290px;
}

/* 遮罩 */
.img-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 290px;
    font-size:14px;
font-family:Microsoft YaHei;
font-weight:400;
color:rgba(255,255,255,1);
    /* z-index: 1; */
    background:rgba(0,8,25,1);
opacity:0.8;
    display: none;
    transition: all 2si 5s linear;
  }
  .img-title img{
      position: absolute;
      width: 28px;
      height: 28px;
      top: 113px;
      left: 165px;
  }
  .img-title div{
      width: 142px;
      text-align: center;
    position: absolute;
    bottom: 118px;
    left: 109px;
    font-size:12px
  }
.cover{
    /* position: relative;
    bottom: 0; */
    float: left;
}
.tupian_a .cover:nth-child(1):hover .img-title{
    transition: all 2si 5s linear;
    display: block;
  }
  .tupian_a .cover:nth-child(1) img{
    width: 360px;
    height: 290px;
  }
  .tupian_a .cover:nth-child(1){
    width: 360px;
    height: 290px;
  }

  .tupian_a .cover:nth-child(3){
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-top: 210px;
  }
  .tupian_a .cover:nth-child(4){
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-top: 210px;
  }
  .tupian_a .cover:nth-child(5){
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-top: 210px;
  }
  .tupian_a .cover:nth-child(2){
    width: 80px;
    height: 80px;
    margin-left: 30px;
    margin-top: 210px;
  }
  .tupian_a .cover:nth-child(2) img{
    width: 80px;
    height: 80px;

  }
  .tupian_a .cover:nth-child(3) img{
    width: 80px;
    height: 80px;
   
  }
  .tupian_a .cover:nth-child(4) img{
    width: 80px;
    height: 80px;
  }
  .tupian_a .cover:nth-child(5) img{
    width: 80px;
    height: 80px;
  }
  .tupian_a .cover:nth-child(6){
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-top: 210px;
  }
  .tupian_a .cover:nth-child(6) img{
    width: 80px;
    height: 80px;

  }
  .tupian_a .cover:nth-child(7){
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-top: 210px;
  }
  .tupian_a .cover:nth-child(7) img{
    width: 80px;
    height: 80px;

  }
  .tupian_a .cover:nth-child(8){
      display: none;
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-top: 210px;
  }
  .tupian_a .cover:nth-child(8) img{
    width: 80px;
    height: 80px;

  }
.vdimg{
    width: 80px;
    height: 80px;  
}
.explain_a{
    /* margin-left: 30px; */
    position: absolute;
    top: 40px;
    /* right: 0; */
    left: 390px;
}
.explain_a p:nth-child(1){
    font-size:24px;

}
.explain_a p:nth-child(2){
    font-size:16px;
    margin-top: 8px;
}
.shanbiao{
    width: 100px;
    height: 50px;
    margin-top: 10px;
}
.explain_img{
    margin-top: 77px;
}
.explain_img img{
    width: 80px;
    height: 80px;
}
.explain_img img:nth-child(2){
    margin-left: 6px;
}
.explain_img img:nth-child(3){
    margin-left: 6px;
}
.explain_img img:nth-child(4){
    margin-left: 6px;
}
.cover{
    display: inline-block;
}
/* 视频 */
.vidio{
    display: inline-block;
    margin-left: 6px;
    position: relative;
}
.vidio_a{
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    font-size:14px;
    z-index: 99;
    background:rgba(0,8,25,0.3);
/* opacity:0.3; */
    /* display: none; */
    transition: all 2si 5s linear;
  }
  .vidio_a img{
      width: 32px;
      height: 32px;
      position: absolute;
      top: 24px;
      left: 24px;
  }
.specification{
    width: 1120px;
    padding-bottom: 14px;
    margin-left: 40px;
    font-size:16px;
    
font-weight:400;
color:rgba(0,21,62,1);
    border-bottom: 1px solid #DDE3F1;
}
.specification img{
    padding-right: 5px;
}
.qita{
    margin: auto;
    width: 1000px;
}
.model{
    margin-left: 40px;
font-weight:400;
margin-top: 15px;
overflow: hidden;
margin-bottom: 35px;
}
.model_a{
 
    overflow: hidden;
color:rgba(151,161,180,1);
line-height:36px;

}
.model_a li{
    width: 102px;
    overflow:hidden;
text-overflow:ellipsis; 
white-space:nowrap;
}
.model_b{
    margin-left: 53px;
    color:rgba(0,21,65,1);
    line-height:36px;
    }

    .letter{
        margin-top: 10px;
        margin-left: 40px;
        padding-bottom: 65px ;
        /* font-size:14px;
font-weight:400; */
color:rgba(0,21,65,1);
    }

    /* 其它产品 */
    .other{
        overflow: hidden;
        margin-top: 49px;
        font-size:16px;
    font-weight:400;
    color:rgba(0,21,62,1);
    }
    .other_list{
        overflow: hidden;
        margin-top: 17px;
        padding-bottom: 50px;
    }
    .other_list li{
        float: left;
        width: 235px;
        height: 314px;
        background:rgba(255,255,255,1);
        border-radius:5px;
        font-weight:400;
        color:rgba(0,21,65,1);
        text-align: center;
    }
    .other_list li:nth-child(2){
        margin-left: 20px;
    }
    .other_list li:nth-child(3){
        margin-left: 20px;
    }
    .other_list li:nth-child(4){
        margin-left: 20px;
    }
    .other_list li p:nth-child(2){
        overflow:hidden;
text-overflow:ellipsis; 
white-space:nowrap;
text-align: center;
        width: 220px;
        margin: auto;
        font-size:16px;
        margin-top: 46px;
    }
    .other_list li p:nth-child(3){
        font-size:12px;
        margin-top: 12px;
    }
    .other_list li img{
        width: 235px;
        height: 191px;
        border-radius:5px 5px 0px 0px;
    }

    #vclose {
        /* width: 1200px; */
        width: 22px;
        height: 22px;
        z-index: 9999;
         position:absolute;
         right:0; 
         top:0; 
         margin-right: 60px;
         margin-top: 60px;
         border-radius:100%; cursor: pointer; 
        }
        #video{
            position: relative;
            top: 50%;
            margin-top: -285px;
        }
        .videos{ 
            position: fixed;
            z-index: 9999;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            text-align: center;
        }
        .videos:before {
            position: absolute;
            content: '';
            background: #000;
            opacity: 0.75;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
          }