

/* 底部 */
/* .boutt{
    position: absolute;
    bottom: 0;
} */
html,body{height:auto}
.bottom{
 
    height: 181px;
    width: 100%;
    background:#031236; 
    overflow: hidden;
}
.base{
    width: 1202px;
    margin: auto;
}
.shousuo{
    cursor:pointer;
}
.base ul{
    float: left;
    height: 181px;
    overflow: hidden;
}
.base .bot1{
    

    font-size:13px;
font-family:Microsoft YaHei;
font-weight:400;
color:rgba(128,139,163,1);
}
.bot2{
    width: 235px;
}
.base .bot1:nth-child(2){
    margin-left: 366px;
}
.base .bot3{
    margin-top: 39px;
    width: 80px;
    text-align: center;
    margin-left: 468px;
    font-size:13px;
font-family:Microsoft YaHei;
font-weight:400;
color:rgba(128,139,163,1);
}
.base .bot3 li:nth-child(2){
    margin-top: 10px;
}
.bot1 .h2{
font-weight:bold;
color:rgba(229,234,255,1);
margin-top: 40px;

}
.bot1 li:nth-child(2){
    margin-top: 26px;
}
.bot1 li:nth-child(3){
    margin-top: 22px;
}
/* 最下面 */
.bottom3{
    width:100%;
height:1px;
background:#101a33;
/* opacity:0.1; */
}
.bottom2{
    /* border-top: 1px solid #808BA3; */
    height: 43px;
    width: 100%;
    background:#031236; 
}
.beian{
    width: 1202px;
    margin: auto;
    text-align: center;
    line-height: 43px;
    font-size:13px;
font-family:Microsoft YaHei;
font-weight:400;
color:rgba(128,139,163,1);
}
/* 顶部滑动 */
.navbar.active{
    background:#031236;
}